<mat-card>
  <mat-card-header>
    <h1>Edit User</h1>
  </mat-card-header>
  <mat-card-content>
    <form
      class="example-form"
      [formGroup]="registerform"
      (ngSubmit)="updateuser()"
    >
      <mat-form-field
        appearance="outline"
        [style.width.px]="327"
        class="example-full-width"
      >
        <mat-label>Username</mat-label>
        <input matInput formControlName="id" />
      </mat-form-field>
      <br />
      <mat-form-field
        appearance="outline"
        [style.width.px]="327"
        class="example-full-width"
      >
        <mat-label>Full Name</mat-label>
        <input matInput formControlName="fullname" />
      </mat-form-field>
      <br />
      <mat-form-field
        appearance="outline"
        [style.width.px]="327"
        class="example-full-width"
      >
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
      <br />
      <mat-form-field
        appearance="outline"
        [style.width.px]="327"
        class="example-full-width"
      >
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phone" />
      </mat-form-field>
      <br />
      <mat-form-field
        appearance="outline"
        [style.width.px]="327"
        class="example-full-width"
      >
        <mat-label>Password</mat-label>
        <input
          [type]="showPassword ? 'text' : 'password'"
          matInput
          formControlName="password"
        />
        <mat-icon matSuffix (click)="togglePasswordVisibility()">{{
          showPassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill" *ngIf="this.editdata.id != 'admin'">
        <mat-label>Role</mat-label>
        <select matNativeControl formControlName="role">
          <option value="admin">Admin</option>
          <option value="user">User</option>
        </select>
      </mat-form-field>

      <div class="example-button-row">
        <button mat-raised-button color="primary">Edit</button><br />
        <a mat-dialog-close mat-raised-button color="accent">Close</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
