<mat-card>
  <mat-card-header>
    <h1>Sign Up</h1>
  </mat-card-header>
  <mat-card-content>
    <form
      class="example-form"
      [formGroup]="registerform"
      (ngSubmit)="proceedRegistration()"
    >
      <mat-form-field
        appearance="outline"
        [style.width.px]="327"
        class="example-full-width"
      >
        <mat-label>Username</mat-label>
        <input type="text" matInput formControlName="id" />
      </mat-form-field>
      <br />
      <mat-form-field
        appearance="outline"
        [style.width.px]="327"
        class="example-full-width"
      >
        <mat-label>Full Name</mat-label>
        <input type="text" matInput formControlName="fullname" />
      </mat-form-field>
      <br />
      <mat-form-field
        appearance="outline"
        [style.width.px]="327"
        class="example-full-width"
      >
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" />
      </mat-form-field>
      <br />
      <mat-form-field
        appearance="outline"
        [style.width.px]="327"
        class="example-full-width"
      >
        <mat-label>Phone Number</mat-label>
        <input type="number" matInput formControlName="phone" />
      </mat-form-field>
      <br />
      <mat-form-field
        appearance="outline"
        [style.width.px]="327"
        class="example-full-width"
      >
        <mat-label>Password</mat-label>
        <input
          [type]="showPassword ? 'text' : 'password'"
          matInput
          formControlName="password"
        />
        <mat-icon matSuffix (click)="togglePasswordVisibility()">{{
          showPassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </mat-form-field>

      <br />
      <div class="example-button-row">
        <button
          [style.width.px]="327"
          [style.border-radius.px]="40"
          mat-raised-button
          color="primary"
        >
          Register</button
        ><br /><br />
        <a
          [style.width.px]="327"
          [style.border-radius.px]="40"
          routerLink="/sign-in"
          mat-raised-button
          color="accent"
          >Already Have An Account? Sign In.</a
        >
      </div>
    </form>
  </mat-card-content>
</mat-card>
