<div class="container">
  <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="account-settings">
            <div class="user-profile">
              <div class="user-avatar">
                <img
                  src="/assets/users.png"
                  alt="Maxwell Admin"
                  style="height: 250px; margin-left: 12px; margin-bottom: 16px"
                />
              </div>
              <h2 class="user-name">Username: {{ registerform.value.id }}</h2>
              <h2 class="user-name">
                Full Name: {{ registerform.value.fullname }}
              </h2>
              <h2 class="user-email">Email: {{ registerform.value.email }}</h2>
            </div>
            <div class="about">
              <h2>Phone: {{ registerform.value.phone }}</h2>

              <h1>About</h1>
              <p>
                I'm {{ registerform.value.id }}. Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Esse corrupti maiores assumenda
                illo numquam ullam consequatur error ipsum quasi. Molestias.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <form
      class="example-form"
      [formGroup]="registerform"
      (ngSubmit)="updateuser()"
      class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12"
    >
      <div class="card h-100">
        <div class="card-body">
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <h6 class="mb-2 text-primary">Personal Details</h6>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="fullName">Username</label>
                <input
                  type="text"
                  class="form-control"
                  matInput
                  formControlName="id"
                />
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="fullName">Full Name</label>
                <input
                  type="text"
                  class="form-control"
                  matInput
                  formControlName="fullname"
                />
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="eMail">Email</label>
                <input
                  type="email"
                  class="form-control"
                  matInput
                  formControlName="email"
                />
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="phone">Phone</label>
                <input
                  type="text"
                  class="form-control"
                  matInput
                  formControlName="phone"
                />
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="website">Password</label>
                <input
                  type="url"
                  class="form-control"
                  [type]="showPassword ? 'text' : 'password'"
                  matInput
                  formControlName="password"
                />
                <mat-icon matSuffix (click)="togglePasswordVisibility()">{{
                  showPassword ? "visibility_off" : "visibility"
                }}</mat-icon>
              </div>

              <div
                class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"
                *ngIf="session() == 'admin'"
              >
                <div class="form-group">
                  <mat-form-field appearance="fill">
                    <mat-label>Role</mat-label>
                    <select matNativeControl formControlName="role">
                      <option value="admin">Admin</option>
                      <option value="user">User</option>
                    </select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="text-right">
                <button class="btn btn-primary">Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- <mat-card>
  <mat-card-header>
    <h1>Update User</h1>
  </mat-card-header>
  <mat-card-content>
    <form
      class="example-form"
      [formGroup]="registerform"
      (ngSubmit)="updateuser()"
    >
      <mat-form-field
        appearance="outline"
        [style.width.px]="327"
        class="example-full-width"
      >
        <mat-label>Username</mat-label>
        <input matInput formControlName="id" />
      </mat-form-field>
      <br />
      <mat-form-field
        appearance="outline"
        [style.width.px]="327"
        class="example-full-width"
      >
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
      <br />
      <mat-form-field
        appearance="outline"
        [style.width.px]="327"
        class="example-full-width"
      >
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <br />
      <mat-form-field
        appearance="outline"
        [style.width.px]="327"
        class="example-full-width"
      >
        <mat-label>Password</mat-label>
        <input
          [type]="showPassword ? 'text' : 'password'"
          matInput
          formControlName="password"
        />
        <mat-icon matSuffix (click)="togglePasswordVisibility()">{{
          showPassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </mat-form-field>
      <br />

      <div class="example-button-row">
        <button mat-raised-button color="primary">Update</button><br />
        <a mat-dialog-close mat-raised-button color="accent">Close</a>
      </div>
    </form>
  </mat-card-content>
</mat-card> -->
