<div class="container">
  <div class="row">
    <div
      class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 mb-3"
      *ngFor="let item of userlist"
    >
      <div
        class="card"
        style="border-radius: 15px; height: 350px; width: 350px"
      >
        <div class="card-body text-center">
          <div class="mt-3 mb-4">
            <img
              src="/assets/user.png"
              class="rounded-circle img-fluid"
              style="width: 100px"
            />
          </div>
          <h2 class="mb-2">{{ item.fullname }}</h2>
          <p class="text-muted mb-5" style="font-size: 15px">
            @{{ item.id }} <span class="mx-2">|</span>
            <a [href]="'mailto:' + item.email">{{ item.email }}</a>
          </p>

          <p class="text-muted mb-5" style="font-size: 15px">
            phone: {{ item.phone }}
          </p>

          <a
            *ngIf="item.id == session()"
            (click)="UpdateUser(item.id)"
            mat-raised-button
            >Update</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
